

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*error text for card Info page*/
.smallText { 
    font-size: small;
}


.indent { 
    margin-left: 6em;
}


.removePadding{
    padding-right: 0;
    padding-left: 0;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

/*------------------------------------------------------------------------------
                           IMAGE VIEW
------------------------------------------------------------------------------*/

.image  {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover  {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
/*------------------------------------------------------------------------------
                           FOOTER
------------------------------------------------------------------------------*/

.footerText {
    color:#46b8da;
    font-size:.8em;
    line-height:18px;
    font-weight:100;
}



@media(min-width: 768px){
    .navbar .navbar-nav{
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar-collapse{
        text-align: center;
    }
}
